.table-foldersystem tbody tr td:first-child{
    width:1%;
}

div.panel:first-child {
    margin-top:20px;
}

div.treeview {
    min-width: 100px;
    min-height: 100px;

    max-height: 256px;


    padding: 4px;

    margin-bottom: 20px;

    color: #369;

    border: solid 1px;
    border-radius: 4px;
}
div.treeview ul:first-child:before {
    display: none;
}
.treeview, .treeview ul {
    margin:0;
    padding:0;
    list-style:none;

    color: #369;
}
.treeview ul {
    margin-left:0.1em;
    position:relative
}
.treeview ul ul {
    margin-left:.1em
}
.treeview ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    left:0;
    border-left:1px solid;

    /* creates a more theme-ready standard for the bootstrap themes */
    bottom:15px;
}
.treeview li {
    margin:0;
    padding:0 0.1em;
    line-height:2em;
    font-weight:700;
    position:relative
}
.treeview ul li:before {
    content:"";
    display:block;
    width:0.5em;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree-indicator {
    margin-right:5px;

    cursor:pointer;
}
.treeview li a {
    text-decoration: none;
    color:inherit;

    cursor:pointer;
}
.treeview li button, .treeview li button:active, .treeview li button:focus {
    text-decoration: none;
    color:inherit;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}
ul {
    background: none;
    width: 20em;
    padding-left: 0.1em;
    line-height: 1.5em;
    overflow:visible;
}
.list-group-item{
    background: rgba(255,255,255,0.5);
    color: #000000;
}
.list-group-item a{
    color: #000000;
}
.list-group-item a:hover{

    /*background: #fff;*/
    color:#fff;
}
.list-group-item li:hover{
    background: rgba(200,200,200,0.8);
    cursor: pointer;
}
.col-md-2{
    position:relative;
    left: 0px;
    top:0em;
}

body{margin:40px;}


.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}
.background{
    background: url("images/line-figure-polygon-black-and-white.jpg")
}
.middle{
    margin: 0 auto;
}
.block{
    display: block;
}
.white{
    background: white;
}
table td {
    background: white;
}
table th {
    background: white;
}
.VueTables__search {
    color: white;
}
.VueTables__search input{
    margin: 1em;
}
